<h1>Välj station</h1>
<a href="station/Mr">Märsta</a>
<a href="station/Sub">Sundbyberg</a>
<a href="station/So">Solna</a>
<a href="station/Sod">Odenplan</a>
<a href="station/Sci">City</a>
<a href="station/Sst">Södra</a>
<a href="station/Åbe">Årstaberg</a>
<a href="station/Äs">Älvsjö</a>
<a href="station/Hu">Huddinge</a>
<a href="station/Flb">Flemingsberg</a>
<a href="station/Tul">Tullinge</a>
<a href="station/Tu">Tumba</a>
